<footer class="bg-main-light py-5">
  <div class="container">
    <h2 class="m-0 h4">Get The FreshCart App</h2>
    <p class="text-muted small">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <!-- inputs design  -->
    <div
      class="d-flex flex-column flex-md-row align-items-center gap-3 text-nowrap"
    >
      <input
        type="text"
        class="form-control w-100 w-md-auto"
        placeholder="Email"
      />
      <button class="btn-main w-25 w-md-auto">Share App Link</button>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div class="pay-details row">
      <div class="col-12 col-md-6 d-flex align-items-center gap-2 flex-wrap">
        <h3 class="h6 m-0">Payment partners</h3>
        <img
          src="./assets/images/amazon-pay.png"
          width="30px"
          alt="Amazon Pay"
        />
        <img
          src="./assets/images/American-Express-Color.png"
          width="30px"
          alt="American Express"
        />
        <img src="./assets/images/paypal.png" width="30px" alt="Paypal" />
        <img
          src="./assets/images/mastercard.webp"
          width="30px"
          alt="Mastercard"
        />
      </div>

      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-md-end gap-2 flex-wrap mt-3 mt-md-0"
      >
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
        <div>
          <img
            src="./assets/images/get-google-play.png"
            width="75px"
            alt="Google Play"
          />
          <img
            src="./assets/images/get-apple-store.png"
            width="75px"
            alt="Apple Store"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
